{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">{{ title }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'add_project' %}">Add project</a></li>
            <li class="active"><a href="{% url 'help' %}">Help</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
      {% block content %}{% endblock %}

      <div class="well well-sm">
        Made by Hans Jørgen Hoel (hansjorg@gmail.com). Not an official Rust project.
      </div>
    </div>

    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Start StatCounter -->
    <script type="text/javascript">
    var sc_project=9313515; 
    var sc_invisible=1; 
    var sc_security="ebe222f0"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="free hit
    counter" href="http://statcounter.com/free-hit-counter/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/9313515/0/ebe222f0/1/"
    alt="free hit counter"></a></div></noscript>
    <!-- End StatCounter -->
</body>
</html>
