{% extends "ppatrigger/base.html" %}

{% block title %}Help - {{ title }}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="panel panel-info">
        <div class="panel-heading">
          Add a .travis.yml file to your project. An example using cargo to build follows, with cargo installed from Corey Richardson's <a href="https://launchpad.net/~cmrx64/+archive/cargo">PPA</a>. Using cargo for building is not required.
        </div>
        <div class="panel-body">
<pre>
before_install:
  - yes | sudo add-apt-repository ppa:hansjorg/rust
  - yes | sudo add-apt-repository ppa:cmrx64/cargo
  - sudo apt-get update
install:
  - sudo apt-get install rust-nightly cargo
script:
  - cargo build
</pre>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Enable Travis CI</div>
        <div class="panel-body">
          Enable project on your <a href="https://travis-ci.org/profile">Travis CI</a> dashboard.
        </div>
      </div>

      <div class="alert alert-warning">
        You must trigger at least one Travis CI build before continuing.
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Add project</div>
        <div class="panel-body">
          Then <a href="{% url 'add_project' %}">add your project</a> here.
        </div>
      </div>

      <div class="alert alert-success">
        <span class="glyphicon glyphicon-book"></span>
        <strong>Make generated documentation available</strong>
        After adding your project, go to the project page and select
        "Project owner actions <span class="glyphicon glyphicon-arrow-right"></span>
        Get config for docs upload"
      </div>

      <div class="alert alert-success">
        <span class="glyphicon glyphicon-envelope"></span>
        <strong>Notifications</strong>
        For configuring Travis CI build notifications, take a look
        <a href="http://about.travis-ci.org/docs/user/notifications/">here</a>.
      </div>


    </div>
  </div>
{% endblock %}

