{% extends "ppatrigger/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="panel panel-info">
    <div class="panel-heading">
      What is this?
    </div>
    <div class="panel-body">
      <p>
        This dashboard allows you to add your <a href="https://travis-ci.com/">Travis CI</a> enabled, GitHub hosted <a href="http://www.rust-lang.org/">Rust</a> project and have it built each time there's a new version of the <a href="https://launchpad.net/~hansjorg/+archive/rust">rust-nightly</a> Ubuntu package.
      </p>
      <p>
        <a href="{% url 'help' %}">How to add your own project</a>
      </p>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-body">
      There are {{ today.project_count }} registered projects with
      <strong>{{ today.successful }} (<span style="color: {% if successful_diff > -1 %}#48cf14{% else %}#d65941{% endif %}">{{ successful_diff }}</span>)</strong> successful and
      <strong>{{ today.failed }} (<span style="color: {% if failed_diff < 0 %}#d65941{% else %}#48cf14{% endif %}">{{ failed_diff }}</span>)</strong> failed builds today.
    </div>
  </div>

  {% comment %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Daily stats
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <div id="daily-graph" style="width: 100%; height: 200px"></div>
        <script src="/static/js/dygraph-combined.js"></script>
        <script type="text/javascript">
          new Dygraph(document.getElementById("daily-graph"),
          [
          {% for day in dailystats %}
              [ new Date("{{ day.date.year }}/{{ day.date.month }}/{{day.date.day }}"), {{ day.project_count }}, {{ day.successful }}, {{ day.failed }}, {{ day.errors }} ] {% if not forloop.last %},{% endif %}
          {% endfor %}
          ], { labels: [ "Date", "Projects", "Succssful", "Failed", "Errors" ],
               colors: [ "#5555aa", "#48cf14", "#d65941", "#999999" ],
               strokeWidth: 2.0,
               drawGrid: false});
        </script>
      </div>
    </div>
  </div>
  {% endcomment %}

  <div class="panel panel-default">
    <div class="panel-body">

      {% if error_message %}
        <div class="alert alert-danger">
          <strong>Project not added</strong> {{ error_message }}
        </div>
      {% endif %}

      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Project</th>
            <th class="hidden-xs">Branch</th>
            <th class="hidden-xs">Commit</th>
            <th>Status</th>
            <th></th>
          </tr>
          {% for project in projects %}
            <tr>
              <td><a href="https://github.com/{{ project.username }}/{{ project.repository }}">{{ project.username }}/{{ project.repository }}</a></td>
              <td class="hidden-xs">{{ project.branch }}</td>
              <td class="hidden-xs">
                <a title="{{ project.last_build.message }}" href="https://github.com/{{ project.username }}/{{ project.repository }}/commit/{{ project.last_build.commit}}">{{ project.last_build.message | truncatechars:90 }}</a>
              </td>
              <td>
                {% if not project.last_triggered %}
                  <img src="/static/gfx/unknown.png" alt="unknown build"/>
                {% elif project.build_requested or project.build_started %}
                  <span class="spinner"></spinner>
                {% elif project.last_build.status == 0 %}
                  <a href="https://travis-ci.org/{{ project.username }}/{{project.repository}}/builds/{{ project.last_build.build_id }}">
                    <img src="/static/gfx/passing.png" alt="passing build"/>
                  </a>
                {% elif project.last_build.status > 0 %}
                  <a href="https://travis-ci.org/{{ project.username }}/{{project.repository}}/builds/{{ project.last_build.build_id }}">
                    <img src="/static/gfx/failing.png" alt="failing build"/>
                  </a>
                {% else %}
                  <a href="https://travis-ci.org/{{ project.username }}/{{project.repository}}/builds/{{ project.last_build.build_id }}">
                    <img src="/static/gfx/error.png" alt="errored"/>
                  </a>
                {% endif %}
              </td>
              <td>
                <a href="{% url 'show_project' project.id %}">details</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}

