{% extends "ppatrigger/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="panel panel-info">
    <div class="panel-heading">
      What is this?
    </div>
    <div class="panel-body">
      <p>
        This webapp allows you to add your <a href="https://travis-ci.com/">Travis CI</a> enabled, GitHub hosted <a href="http://www.rust-lang.org/">Rust</a> project and have it built each time there's a new version of the <a href="https://launchpad.net/~hansjorg/+archive/rust">rust-nightly</a> Ubuntu package.
      </p>
      <p>
        <a href="{% url 'help' %}">How to add your own project</a>
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      {% if error_message %}
        <div class="alert alert-danger">
          <strong>Project not added</strong> {{ error_message }}
        </div>
      {% endif %}

      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>Project</th>
            <th>Branch</th>
            <th class="hidden-xs">Commit</th>
            <th class="hidden-xs">Built with</th>
            <th>Status</th>
            <th class="hidden-xs"></th>
            <th></th>
          </tr>
          {% for project in projects %}
            <tr>
              <td><a href="https://github.com/{{ project.username }}/{{ project.repository }}">{{ project.username }}/{{ project.repository }}</a></td>
              <td>{{ project.branch }}</td>
              <td class="hidden-xs">{{ project.last_build.commit }}</td>
              <td class="hidden-xs">{{ project.last_build.package_version }}</td>
              <td>
                {% if not project.last_triggered %}
                  Never built
                {% elif project.build_requested or project.build_started %}
                  <span class="spinner"></spinner>
                {% elif project.last_build.status == 0 %}
                  <a href="https://travis-ci.org/{{ project.username }}/{{project.repository}}/builds/{{ project.last_build.build_id }}">
                    <img src="/static/gfx/passing.png" alt="passing build"/>
                  </a>
                {% elif project.last_build.status > 0 %}
                  <a href="https://travis-ci.org/{{ project.username }}/{{project.repository}}/builds/{{ project.last_build.build_id }}">
                    <img src="/static/gfx/failing.png" alt="failing build"/>
                  </a>
                {% else %}
                  <img src="/static/gfx/unknown.png" alt="unknown build"/>
                {% endif %}
              </td>
              <td class="hidden-xs">
                {% if project.last_build %}
                  <a href="https://travis-ci.org/{{ project.username }}/{{project.repository}}/builds/{{ project.last_build.build_id }}">build log</a>
                {% endif %}
              </td>
              <td>
                {% if project.last_build %}
                  <a href="{% url 'show_project' project.id %}">details</a></td>
                {% endif %}
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}

