{% extends "ppatrigger/base.html" %}

{% block title %}{{ project }} - {{ title }}{% endblock %}

{% block content %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{ project }}</h3>
    </div>
      <table class="table">
        <tr>
          <th>created</th>
          <td>{{ project.created }}</td>
        </tr>
        <tr>
          <th>builds</th>
          <td>{{ builds | length }}</td>
        </tr>
        <tr>
          <th>last build log</th>
          <td>
            <a href="https://travis-ci.org/{{ project.username }}/{{ project.repository }}/builds/{{ project.last_build.build_id }}">Travis CI build log</a>
          </td>
        </tr>
        <tr>
          <td colspan="2"><a data-toggle="tooltip" title="Only for owner" href="{% url 'trigger_build' project.id %}">Trigger build</a></td>
        </tr>
      </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <table class="table table-striped">
        <tr>
          <th>Built with</th>
          <th>Commit</th>
          <th>Started</th>
          <th>Finished</th>
          <th style="text-align: center;">Duration</th>
          <th>Result</th>
        </tr>
        {% for build in builds %}
          <tr>
            <td>{{ build.package_version }}</td>
            <td class="hidden-xs">
              <a title="{{ build.message }}" href="https://github.com/{{ project.username }}/{{ project.repository }}/commit/{{ build.commit}}">{{ build.message | truncatechars:40 }}</a>
            </td>
            <td>{{ build.started_at }}</td>
            <td>{{ build.finished_at }}</td>
            <td style="text-align: center;">{{ build.duration }}</td>
            <td>
              {% if not project.last_triggered %}
                <img src="/static/gfx/unknown.png" alt="unknown build"/>
              {% elif build.status == 0 %}
                <img src="/static/gfx/passing.png" alt="passing build"/>
              {% elif build.status > 0 %}
                <img src="/static/gfx/failing.png" alt="failing build"/>
              {% else %}
                <img src="/static/gfx/error.png" alt="errored"/>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

