{% extends "ppatrigger/base.html" %}

{% block title %}{{ project }} - {{ title }}{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-body">

      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{ project }}</h3>
        </div>
          <table class="table">
            <tr>
              <th>created</th>
              <td>{{ project.created }}</td>
            </tr>
            <tr>
              <th>last triggered</th>
              <td>{{ project.last_triggered }}</td>
            </tr>
            <tr>
              <th>builds</th>
              <td>{{ builds.size }}</td>
            </tr>
          </table>
      </div>

      <table class="table table-striped">
        <tr>
          <th>Built with</th>
          <th>Started</th>
          <th>Finished</th>
          <th style="text-align: center;">Duration</th>
          <th>Result</th>
          <th></th>
        </tr>
        {% for build in builds %}
          <tr>
            <td>{{ build.package_version }}</td>
            <td>{{ build.started_at }}</td>
            <td>{{ build.finished_at }}</td>
            <td style="text-align: center;">{{ build.duration }}</td>
            <td>
              {% if project.last_build.status == 0 %}
                <img src="/rust-ci/static/gfx/passing.png" alt="passing build"/>
              {% elif project.last_build.status > 0 %}
                <img src="/rust-ci/static/gfx/failing.png" alt="failing build"/>
              {% else %}
                <img src="/rust-ci/static/gfx/unknown.png" alt="unknown build"/>
              {% endif %}
            </td>
            <td>
              <a href="https://travis-ci.org/{{ build.project.username }}/{{build.project.repository}}/builds/{{ build.build_id }}">build log</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

