<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <style type="text/css">
    html, body { margin: 0; padding: 0; height: 100%; }
    iframe {
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        border: none;
        box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    }
  </style>
  <script src="/static/js/jquery-2.0.3.min.js"></script>
</head>
<body>
  <iframe src="http://rust-ci-artifacts.s3-website-eu-west-1.amazonaws.com/artifacts/{{ project_docs.project.get_project_identifier}}/{{ project_docs.build_id }}/{{ project_docs.job_id }}/{{ docpath }}/index.html"></iframe>
<!-- Start StatCounter -->
<script type="text/javascript">
var sc_project=9313515; 
var sc_invisible=1; 
var sc_security="ebe222f0"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free hit
counter" href="http://statcounter.com/free-hit-counter/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/9313515/0/ebe222f0/1/"
alt="free hit counter"></a></div></noscript>
<!-- End StatCounter -->
</body>
</html>
