{% extends "ppatrigger/base.html" %}

{% block title %}{{ project }} - {{ title }}{% endblock %}

{% block content %}
  {% if error_message %}
    <div class="alert alert-danger">
      <strong>Error</strong> {{ error_message }}
    </div>
  {% endif %}

  {% if rustci_secure_token %}
    <div class="panel panel-success">
      <div class="panel-heading">
        Enabling documentation upload for your project
      </div>
      <div class="panel-body">
      <p>
        This will make all files in the doc directory of your built project available.
        All subdirectories with an index.html will get a link (i.e.
        <a href="http://static.rust-lang.org/doc/master/rustdoc.html">rustdoc</a> structure).
      </p>
          To the start of your .travis.yml, add:
<pre>
env:
  global:
    - secure: {{ rustci_secure_token }}
</pre>
          To the end of your .travis.yml, add:
<pre>
after_script:
  - curl http://www.rust-ci.org/artifacts/put?t=$RUSTCI_TOKEN | sh
</pre>
      </div>
    </div>
  {% endif %}

  {% if delete_project %}
    <div class="alert alert-danger">
      <h4>Remove project?</h4>
      <p>
        Are you sure you want to remove this project?
        You will be redirect to GitHub for authentication.
      </p>
      <p>
        <form action="{% url 'project.action.delete_project_confirm' project.id %}" method="POST">
          <input type="submit" class="btn btn-danger" type="button" value="Remove"/>
          <a href="{% url 'project.show_by_id' project.id %}"><button class="btn btn-default" type="button">Cancel</button></a>
          {% csrf_token %}
        </form>
      </p>
    </div>
  {% endif %}

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{ project }}</h3>
    </div>
      <table class="table">
        <tr>
          <th>GitHub</th>
          <td>
            <a href="https://github.com/{{ project.username }}/{{ project.repository }}/tree/{{ project.branch }}">{{ project.branch }}</a>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            {{ project.description }} 
          </td>
        </tr>
        <tr>
          <th>Created</th>
          <td>{{ project.created }}</td>
        </tr>
        <tr>
          <th>Builds</th>
          <td>{{ builds | length }}</td>
        </tr>
        <tr>
          <th>Last build log</th>
          <td>
            <a href="https://travis-ci.org/{{ project.username }}/{{ project.repository }}/builds/{{ project.last_build.build_id }}">Travis CI build log</a>
          </td>
        </tr>
        <tr>
          <th>Live status</th>
          <td>
            <a href="https://travis-ci.org/{{ project.username }}/{{ project.repository }}">
              <img src="https://travis-ci.org/{{ project.username }}/{{ project.repository }}.png"/>
            </a>
          </td>
        </tr>
        <tr>
          <th>Documentation</th>
          <td>{{project.get_latests_docs }}
            {% for docpath in project.get_latest_docs.get_docpaths %}
              <a href="{{ project.get_absolute_url }}/doc/{{ docpath }}">{{ docpath }}</a>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>Categories</th>
          <td>
            {% for cat in project.categories.all %}
              <a href="{% url 'projects' %}#{{ cat.name }}">{{ cat.name }}</a>
            {% endfor %}
          </td>
        </tr>
        <tr>
          {% if project.auth_token %}
            <td colspan="2">
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Project owner actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'project.action.trigger_build' project.id %}" rel="nofollow">Trigger build</a></li>
                  <li><a href="{% url 'project.action.get_artifact_config' project.id %}" rel="nofollow">Get config for docs upload</a></li>
                  <li><a href="{% url 'project.action.auth_session_then_edit' project.id %}" rel="nofollow">Edit project</a></li>
                  <li><a href="{% url 'project.action.delete_project' project.id %}" rel="nofollow">Remove project</a></li>
                </ul>
              </div>
            </td>
          {% else %}
            <td colspan="2"><a data-toggle="tooltip" title="For owner" href="{% url 'project.action.get_auth_token' project.id %}" rel="nofollow">Get auth token</a></td>
          {% endif %}
        </tr>
      </table>
  </div>

  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Built with</th>
          <th>Commit</th>
          <th>Started</th>
          <th>Finished</th>
          <th style="text-align: center;">Duration</th>
          <th>Result</th>
        </tr>
        {% for build in builds %}
          <tr>
            <td>
              <span style="font-family: Monaco, monospace;">{{ build.git_hash }}</span>
              {% if build.git_diff %}
                <a href="https://github.com/mozilla/rust/compare/{{ build.git_diff }}">diff</a>
              {% endif %}
            </td>

            <td>
              <a title="{{ build.message }}" href="https://github.com/{{ project.username }}/{{ project.repository }}/commit/{{ build.commit}}">{{ build.message | truncatechars:40 }}</a>
            </td>
            <td>{{ build.started_at }}</td>
            <td>{{ build.finished_at }}</td>
            <td style="text-align: center;">{{ build.duration }}</td>
            <td>
              {% if not project.last_triggered %}
                <img src="/static/gfx/unknown.png" alt="unknown build"/>
              {% elif build.status == 0 %}
                <img src="/static/gfx/passing.png" alt="passing build"/>
              {% elif build.status > 0 %}
                <img src="/static/gfx/failing.png" alt="failing build"/>
              {% else %}
                <img src="/static/gfx/error.png" alt="errored"/>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}

